In [1]:
import pandas as pd 
from pytrends.request import TrendReq 
import matplotlib.pyplot as plt

In [2]:
pytrend = TrendReq()

In [7]:
key_words_list = ["Digital analyst"]
pytrend.build_payload(key_words_list,cat=0, timeframe='today 5-y')

In [12]:
data = pytrend.interest_over_time() 
data = data.sort_values(by="Digital analyst", ascending = False) 
data = data.head(10) 
print(data)

            Digital analyst  isPartial
date
2024-05-19              100      False
2023-02-05               96      False
2022-02-13               94      False
2024-06-09               94      False
2024-03-17               94      False
2024-07-14               93      False
2022-09-18               92      False
2022-10-09               92      False
2022-10-16               92      False
2024-01-28               91      False

In [14]:
data = pytrend.interest_by_region() 
data = data.sort_values(by="Digital analyst",  
                        ascending = False) 
data = data.head(10) 
print(data)

                Digital analyst
geoName
Singapore                   100
Nigeria                      57
India                        47
United Kingdom               47
Sri Lanka                    42
Hong Kong                    36
Kenya                        36
Ireland                      36
Canada                       36
New Zealand                  36

In [114]:
data.head(10)

                Digital analyst
geoName
Singapore                   100
Nigeria                      57
India                        47
United Kingdom               47
Sri Lanka                    42
Hong Kong                    36
Kenya                        36
Ireland                      36
Canada                       36
New Zealand                  36

In [20]:
pytrend.build_payload(key_words_list,cat=0, timeframe='today 5-y')
related_queries = pytrend.related_queries()
related_queries.values()

dict_values([{'top':                                                query  value
0                             digital analyst salary    100
1                             marketing analyst jobs     32
2                              digital media analyst     21
3  a data analyst is working at a small tech star...      2
4  a data analyst wants to retrieve information f...      1, 'rising':                                                query  value
0  a data analyst is working at a small tech star...  33800
1  a data analyst wants to retrieve information f...    850}])